@import 'tailwindcss';

@theme {
	--color-fg: #252323;
	--color-fgd: #fff8f0;

	--color-bg: #fff8f0;
	--color-bgd: #252323;

	--color-transparent-mixed: color-mix(
		in srgb,
		color-mix(in srgb, var(--color-fg), var(--color-bg)) 50%,
		transparent 50%
	);

	--color-complement: #ff3a20;
	--color-complement2: #08a0c3;

	--color-complement-bg: color-mix(in srgb, var(--color-complement) 30%, transparent 70%);
	--color-complement2-bg: color-mix(in srgb, var(--color-complement2) 30%, transparent 70%);
}

html {
	background-color: var(--color-bg);
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: var(--color-bgd);
	}
}
